@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

 

 :root {
     --body-bg:hsl(0, 0%, 98%);
     --card-bg: #e0e0e0;
     --card-bd-col: #bdbdbd;
     --text-color: hsla(0, 0%, 3%, 0.267);
 }

 .dark_mode {
     --body-bg:hsl(235, 21%, 11%);
     --card-bg: hsl(233, 14%, 35%);
     --card-bd-col: #212121;
     --text-color: #f5f5f5;
 }

 body {
    font-family: -apple-system, 'Inter', sans-serif;
     padding:5% 30% 0% 30%;
     background: var(--body-bg);
     
     
    /* background-image: url(/images/bg-desktop-dark.jpg) no-repeat; */
 }
.card.todos{
    margin-top: 40px;
    border-radius: 0;
    padding:0;
    max-width: 100%;


    
   
}
#add_td{
    width: 99%;
    padding:5% 0% 1% 1%;
    font-size: 1.1em;
    
}

 .card {
     padding: 2% 0% 0% 1%;
     background: var(--card-bg);
     box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, .3);
     border: 1px solid var(--card-bd-col);
     width: 100%;
     border-radius: 10px;
    color: var(--text-color);
     

 }
 .card:focus{
    outline: none;
 }
 h2{
     color: var(--text-color);
    letter-spacing: .5em;
    font-weight: 900;
    
    
 }

 .card>p {
     color: var(--text-color);
 }

 #theme_toggler {
     position: absolute;
     bottom: 5%;
     right: 5%;
     background: #0096c3;
     padding: 20px;
     border-radius: 30px;
     color: #fff;
     cursor: pointer;
 }
 input[type="checkbox"]:checked~span{
 text-decoration:2px red line-through;
 }
  input[type="checkbox"]{
    width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        
  }
  p{
    color: #fff;
    font-size: .8em;
  }
